@media only screen and (min-width: 676px) and (max-width: 992px){
	.carousel-caption h3{
		font-size: 22px;
	}
	.carousel-caption p{
		font-size: 14px;
	}
	.carousel-caption a{
		padding: 10px 20px;
		line-height: 50px;
		font-size: 15px;
	}
}
@media only screen and (max-width: 676px){
	/* Header Wrapper Start */
	.navbar-expand-md .navbar-nav .nav-item .nav-link{
		font-size: 12px;
	}
	.navbar-brand{
		font-size: 22px;
	}
	
	/* banner slider */
	.carousel-caption{
		margin-bottom: 0px;
	}
	.carousel-caption h3{
		font-size: 16px;
	}
	.carousel-caption p{
		font-size: 12px;
	}
	.carousel-caption a{
		padding: 5px 10px;
		line-height: 30px;
		font-size: 12px;
	}	
	.slide .carousel-control-prev, .slide .carousel-control-next {
		width: 42px;
		height: 40px;	
	}
	
	/* register start */
	.register-info ul{
		padding-left: 10px ;
	}
	.register-info ul li{
		float: left;
		margin: 10px 10px 10px 0px;
	}
}
